<launch>
 <arg name = "startX" value="737"/>
 <arg name = "startY" value="672"/>
 <arg name = "endX" value="355"/>
 <arg name = "endY" value="323"/>
 <arg name = "stepSize" value="12"/>
 <arg name = "maxIter" value="10000"/>
  <arg name = "animate" value="true" /> <!--set to true to visualize RRT-->
  <arg name="map_file" value="/home/raakesh/Documents/cppprojects/catkin_ws/src/rrt/maps/map.yaml"/> 
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>
  <node pkg="rrt" type="rrt_node" name="planner" args="_startX:=$(arg startX) _startY:=$(arg startY) _endX:=$(arg endX) _endY:=$(arg endY) _stepSize:=$(arg stepSize) _maxIter:=$(arg maxIter) _animate:=$(arg animate)" output="screen"/>
</launch>
