<launch>
 <arg name = "startX" value="148"/>
 <arg name = "startY" value="349"/>
 <arg name = "endX" value="760"/>
 <arg name = "endY" value="163"/>
  <arg name = "stepSize" value="10.0" /> <!--step size of RRT -->
  <arg name = "algoSpeed" value="100" /> <!--algo speed of RRT -->
  <arg name = "maxRuns" value="4" /> <!--maximum number of RRT runs -->
  <arg name = "neighbourFactor" value="3.0"/> <!--neighbour Factor for search-->
  <arg name = "costToGoFactor" value="3.0"/> <!--cost to go factor for the branch and bound function-->
  <arg name = "maxIter" value="20000" /><!--max iterations of the RRT algo-->
  <arg name="map_file" value="/home/raakesh/Documents/cppprojects/catkin_ws/src/anytimerrt/maps/map.yaml" /> 
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />
  <node pkg="anytimerrt" type="anytimerrt_node" name="planner" args="_startX:=$(arg startX) _startY:=$(arg startY) _endX:=$(arg endX) _endY:=$(arg endY) _stepSize:=$(arg stepSize) _algoSpeed:=$(arg algoSpeed) _maxRuns:=$(arg maxRuns) _neighbourFactor:=$(arg neighbourFactor) _costToGoFactor:=$(arg costToGoFactor) _maxIter:=$(arg maxIter)" output="screen" /> 
</launch>
