<launch>
 <arg name = "startX" value="537"/>
 <arg name = "startY" value="875"/>
 <arg name = "endX" value="529"/>
 <arg name = "endY" value="472"/>
 <arg name = "stepSize" value="15"/>
 <arg name = "maxIter" value="15000"/>
 <arg name = "neighbourFactor" value="3"/>
 <arg name = "costToGoFactor" value="2"/>
 <arg name = "algoSpeed" value="250"/>
 <arg name = "maxRuns" value="6"/>
  <arg name="map_file" value="/home/raakesh/Documents/cppprojects/catkin_ws/src/anytimerrt/maps/map.yaml" /> 
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" />
  <node pkg="anytimerrt" type="anytimerrt_node" name="planner" args="_startX:=$(arg startX) _startY:=$(arg startY) _endX:=$(arg endX) _endY:=$(arg endY) _stepSize:=$(arg stepSize) _algoSpeed:=$(arg algoSpeed) _maxRuns:=$(arg maxRuns) _neighbourFactor:=$(arg neighbourFactor) _costToGoFactor:=$(arg costToGoFactor) _maxIter:=$(arg maxIter)" output="screen" /> 
</launch>
